<head>
  <title>hello</title>
</head>

<body>
	<div class="container">
		{{> hello }}
	</div>
</body>

<template name="errors">
	{{#each errorMessages}}
		<p class="error">{{ text }}</p>
	{{/each}}
</template>

<template name="hello">
	<div class="login-wrapper">
  		{{> loginButtons}}
	</div>
	{{> errors}}
	{{#if currentUser}}
		{{#if currentUser.username}}
			{{> accounts}}
		{{else}}
			{{> username}}
		{{/if}}
	{{/if}}
</template>

<template name="username">
	<form class="js-form username-form">
		<input type="text" id="update-username" class="form-control" placeholder="Username">
		<button id="update-username-btn" class="btn btn-default">Save</button>
	</form>
</template>

<template name="accounts">
	<!-- <img src="{{getImageUser this._id}}" alt="..."> -->
	<div class="account facebook">
		<h4>Facebook:</h4>
		{{#if currentUser.services.facebook }}
			<img src="{{currentUser.profile.picture}}" alt="{{currentUser.profile.name}}" title="{{currentUser.profile.name}}">
			<a href="{{ currentUser.services.facebook.link }}" target="_blank">{{ currentUser.services.facebook.link }}</a>
		{{else}}
			<a href="http://graph.facebook.com/me" data-service="facebook" class="btn btn-info facebook-btn add-service-btn">Facebook Connect</a>
		{{/if}}
	</div>
	<div class="account">
		<h4>Twitter:</h4>
	</div>
	<div class="account">
		<h4>Google:</h4>
	</div>
	<div class="account">
		<h4>Tumblr:</h4>
	</div>
	<div class="account">
		<h4>Instagram:</h4>
	</div>
	<div class="account">
		<h4>LinkedIn:</h4>
	</div>
	<div class="account">
		<h4>VKontakte:</h4>
	</div>
	<div class="account">
		<h4>Skype:</h4>
	</div>
	<div class="account">
		<h4>Whatsapp:</h4>
		16472157087
	</div>
	<div class="account">
		<h4>Phone Number:</h4> 
		16472157087
	</div>
	<div class="account">
		<h4>Home Address:</h4> 
		5500 Yonge St
	</div>
	<div class="account">
		<h4>Work Address:</h4> 
		545 King St West
	</div>
	<div class="account">
		<h4>Website:</h4> 
		www.ronenverdi.com
	</div>
	<div class="account">
		<h4>Relationship:</h4> 
		Me / Family / Friend / Work
	</div>
</template>